.nav-bar {
  display: flex;
  justify-content: space-between; /* Space between logo and CTA */
  align-items: center;
  padding: 0 40px; /* Match the grid layout padding */
  background-color: #efebd9;
  position: fixed;
  top: 0;
  width: 97%;
  height: 70px; /* Set a consistent height */
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap; /* Prevents wrapping */
  text-decoration: none; /* Removes underline */
  color: black; /* Consistent black color */
}

/* Use Familjen Grotesk for the platform name */
.familjen-grotesk-logo {
  font-family: "Familjen Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.join-waitlist-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap; /* Prevent wrapping */
}

.join-waitlist-btn:hover {
  background-color: #333;
}


@media (max-width: 768px) {
  .nav-bar {
    width: 90%;
    padding: 0 20px; /* Match the grid layout padding */
  }
}